.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 10px;
    row-gap: 5px;
}

.label {
    font-size: 18px;
}

.input {
    border-radius: 10px;
    height: 20px;
}

.btn {
    height: 30px;
}